body {
  background-color: #d8d8d8;
  font-family: monospace;
}

#fContent {
  width: 50%;
  height: 80% !important;
  margin: auto;
  border-radius: 2px;
  border: 1px solid #bfbfbf;
  background-color: white;
}

#uContent {
  width: 100%;
  height: 10  0% !important;
  margin: auto;
  padding-bottom: 1%;
  /* border: 1px solid red; */
}

#confPanel {
  width: 98%;
  padding: 1% 0% 1% 2%;
  padding-bottom: 1%;
  padding-left: 2%;
  border: 1px solid #d8d8d8;
}

.manipulationPanel {
  width: 98%;
  padding: 1% 0% 1% 2%;
  border: 1px solid #d8d8d8;
}

#resultPanel {
  width: 100%;
  height: 83%;
  /* border: 1px solid black; */
}

#resultPanelOne {
  width: 18%;
  height: 96%;
  padding: 1% 0% 1% 2%;
  border: 1px solid #d8d8d8;
  float: left;
}

#resultPanelTwo {
  width: 77.55%;
  height: 96%;
  padding: 1.5% 0% 0.5% 2%;
  border: 1px solid #d8d8d8;
  float: left;
}

#createDecksButton {
  width: 150px;
}

#nBaralho {
  width: 30px;
  text-align: center;
}

#checkDeckShow {
  margin-top: 10%;
}
